* {
	outline: none !important;
}

#main-sidebar {
	max-height: 300px;
	overflow-y: auto;
	position: absolute;
	top: $navbar-height;
	width: 100%;
	z-index: 100;
	background-color: white;
	@include box-shadow(0px 1px 10px 0px rgba(50, 50, 50, 0.1));


	@media (min-width: $screen-sm-min) {
		width: $sidebar-width-sm;
		position: absolute;
		top: $sidebar-top;
		z-index: 500;
		max-height: calc(100% - #{$sidebar-top});
	}
}

#page-wrapper {
	position: relative;
	padding-bottom: $footer-height;

	@media (min-width: $screen-sm-min) {
		margin-left: $sidebar-width-sm;
	}
}

#page-content {
	padding-top: 15px;
	padding-bottom: 15px;
}

#main-footer {
	height: $footer-height;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: #7993B0;
	padding: 10px 20px;

	a {
		color: lighten(#7993B0, 10%);

		&:hover, &:active, &:focus {
			text-decoration: none;
			color: #7993B0;
		}
	}
}






