
// bootstrap override variables
$grid-gutter-width    : 20px;



$font-family-base     : 'Open Sans', sans-serif;

// Defining logo area
$logo-area-width      : 60px;
$logo-area-width-md   : 240px;

// Navbar
$navbar-margin-bottom : 0;
$navbar-height        : 60px;

$sidebar-top          : $navbar-height;
$sidebar-width        : $logo-area-width;
$sidebar-width-sm     : $logo-area-width-md;

$page-content-padding     : 20px;
$page-content-padding-xs  : 10px;

$footer-height        : 40px;

$panel-border-color   : #ddd;
$panel-heading-text-color : #37474f;

$panel-default-text   : $panel-heading-text-color;
$panel-primary-text   : $brand-primary;
$panel-success-text   : $brand-success;
$panel-warning-text   : $brand-warning;
$panel-danger-text    : $brand-danger;
$panel-info-text      : $brand-info;


