
// bootstrap override variables
$grid-gutter-width    : 20px;



$font-family-base     : 'Open Sans', sans-serif;

// Defining logo area
$logo-area-width      : 60px;
$logo-area-width-md   : 240px;

// Navbar
$navbar-margin-bottom : 0;
$navbar-height        : 60px;

$sidebar-top          : $navbar-height;
$sidebar-width        : $logo-area-width;
$sidebar-width-sm     : $logo-area-width-md;

$page-content-padding     : 20px;
$page-content-padding-xs  : 10px;

$footer-height        : 40px;


