/**
Storm: Default theme style definition of necrophos
*/
#wrapper {
  background-color: #edf1f5;
}

.navbar {
  background-color: #2b3643;
}

.navbar-toggle {
  color: #ffffff;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  color: #ffffff;
}

.navbar-toggle:hover {
  background-color: #313e4c;
}
