
/**
Storm: Default theme style definition of necrophos
*/

@import "../mixins/style-generator";

// variables area
$wrapper-bg: #edf1f5;

$navbar-bg: #2b3643;
$footer-bg: #ffffff;



$navbar-toggle-color: #ffffff;



// end of variables area
////////////////////////

// use mixin

@include style-generator();
